.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #1c1c1e;
}
.freeBox {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  column-gap: 32px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.value__anrNb:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__f5VIu {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__uFqjC {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__aFwq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.value__wcnAd:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__d0Uj {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__zfEoo {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__e9Vtf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.value__u9Sa:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__kuQOi {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__jhoiV {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__bnuX5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
