.ariaTextArea:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  box-shadow: inset 0px 0px 0px 1px var(--token-bkbwiwx5ATzK);
  font-size: var(--token-8P_PyC1saVUb);
  line-height: var(--token-9HBYSFHU3uaR);
  width: 100%;
  color: var(--token-PTD1DL273XBC);
  font-family: var(--token-vn9B8YlnbtwR);
  min-width: 0;
  border-radius: var(--token-sG8xZUUnC5bH);
  padding: var(--token-sG8xZUUnC5bH) var(--token-IkPdAynv25os);
  border-style: none;
}
.ariaTextArea[data-focused]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-PV_be0XWOABo);
  outline-offset: 1px;
}
.ariaTextArea[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaTextAreatype_soft:global(.__wab_instance) {
  background: var(--token-HWqph1R2MKYP);
  box-shadow: none;
}
.ariaTextAreatype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-1zKY-MNUEd1K);
}
.ariaTextAreatype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaTextAreatype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-HWqph1R2MKYP);
}
.ariaTextAreaflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaTextAreaflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaTextAreapadded_left:global(.__wab_instance) {
  padding-left: var(--token-XwajxbYdmKaY);
}
.ariaTextAreapadded_right:global(.__wab_instance) {
  padding-right: var(--token-XwajxbYdmKaY);
}
