.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  min-width: 0;
}
.freeBox__l9T5I {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  column-gap: 0px;
  position: relative;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 40px;
  min-width: 0;
  flex-shrink: 0;
  padding: 32px;
}
.link__sakr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 4px;
  min-width: 0;
}
.svg__waPmZ {
  object-fit: cover;
  height: 1em;
}
.freeBox__bqVlP {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
}
.textField:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  flex-shrink: 0;
  display: none;
}
.textFieldsearchOpen:global(.__wab_instance):global(.__wab_instance) {
  display: flex;
}
.svg__exgz {
  position: relative;
  height: 1em;
}
.svg___8ZEbq {
  position: relative;
  height: 1em;
}
.link___4AOps {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  min-width: 0;
  padding: 8px;
}
.svg___64VQm {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.link__aVdfc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__h4K0Q {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.link__ezMwn {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__cfB5H {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
