.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  column-gap: 1px;
}
.text__bgByQ {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.slotTargetDollars {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
}
.text__mCan6 {
  text-align: left;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.slotTargetCents {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #333333;
  text-align: left;
}
