.root {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  column-gap: 32px;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.freeBox__wDpg {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  column-gap: 8px;
  min-width: 0;
}
.freeBox__fhNkm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 16px;
}
.text__edomm {
  font-weight: 400;
  white-space: pre-wrap;
  color: #666666;
}
.freeBox__qfxyM {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__qWqcY {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__merzi {
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.link__agrQf {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__os8AS {
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.link__w5DYo {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__iSy1 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__hbd16 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  column-gap: 4px;
  padding: 8px;
}
.text__h7AKy {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__lwgaM {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
