.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-PV_be0XWOABo);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-6AgfxKeL9qWL);
  font-family: var(--token-vn9B8YlnbtwR);
  font-size: var(--token-8P_PyC1saVUb);
  line-height: var(--token-9HBYSFHU3uaR);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-sG8xZUUnC5bH);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-jvfDzn-yfFcP);
  outline-offset: 1px;
  outline-color: var(--token-PV_be0XWOABo);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-PwRb8O_DIwdl);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-ZHK_wV6mXkIY);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-eMBB2ORoo7RX);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-YBH6omJcgTUo);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-f7R-OEQc97Dq);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-ctEB9wZrEjON);
  font-size: var(--token-VAozy7q3OVdr);
  column-gap: var(--token-jvfDzn-yfFcP);
  row-gap: 0px;
  border-radius: var(--token-XCDpQjXu0dRZ);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-VAozy7q3OVdr);
  line-height: var(--token-ctEB9wZrEjON);
  column-gap: var(--token-XCDpQjXu0dRZ);
  row-gap: 0px;
  border-radius: var(--token-XCDpQjXu0dRZ);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-XL7VLparRtF2);
  line-height: var(--token-2ZOFZctf3Bwe);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-XL7VLparRtF2);
  line-height: var(--token-2ZOFZctf3Bwe);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-lq-x4bDGo4_h);
  border-radius: var(--token-sG8xZUUnC5bH);
}
.softBackgroundcolor_neutral {
  background: var(--token--gJ4D2rvuOy8);
}
.softBackgroundcolor_muted {
  background: var(--token-HWqph1R2MKYP);
}
.softBackgroundcolor_success {
  background: var(--token-YGdsQmDxst8K);
}
.softBackgroundcolor_warning {
  background: var(--token-X_YY8x7K4bxk);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-pY7xFdL4lzjq);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-sG8xZUUnC5bH);
  border: 0px solid var(--token-A3TfxdE_7kog);
}
.bordercolor_neutral {
  border-color: var(--token-UeNd6kY3Z656);
}
.bordercolor_muted {
  border-color: var(--token-RcxIhVCqIc1W);
}
.bordercolor_success {
  border-color: var(--token-OxlP_fCHyqwt);
}
.bordercolor_warning {
  border-color: var(--token-KsDMfuPOQe0Y);
}
.bordercolor_errorDestructive {
  border-color: var(--token-vbTDYg9WZVy5);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-sG8xZUUnC5bH);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-rbXcYn-px_k7);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-BEUgNjfrMXEd);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-5I739uR-TDWa);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__a0Llq {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-sG8xZUUnC5bH);
  min-width: 0;
  min-height: 0;
  padding: var(--token-sG8xZUUnC5bH) var(--token-IkPdAynv25os);
}
.freeBoxsize_extraSmall__a0Llq5SiDg {
  padding: var(--token-XCDpQjXu0dRZ) var(--token-sG8xZUUnC5bH);
}
.freeBoxsize_small__a0LlqVvAqP {
  padding: var(--token-sG8xZUUnC5bH) var(--token-6AgfxKeL9qWL);
}
.freeBoxsize_large__a0Llq6X95E {
  padding-top: var(--token-XCDpQjXu0dRZ);
  padding-bottom: var(--token-XCDpQjXu0dRZ);
}
.freeBoxsize_extraLarge__a0LlqEc9Tn {
  padding-left: var(--token-icGvpzB5weYH);
  padding-right: var(--token-icGvpzB5weYH);
}
.freeBoxroundedFull__a0LlQng8Ag {
  padding-right: var(--token-icGvpzB5weYH);
  padding-left: var(--token-icGvpzB5weYH);
}
.freeBox__qicpf {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__qicpf3XXuH {
  display: flex;
}
.slotTargetStart {
  color: var(--token-c8AzcnijxjNH);
}
.slotTargetStartcolor_neutral {
  color: var(--token-RYjhnKy1kpEh);
}
.slotTargetStartcolor_muted {
  color: var(--token-E1y5SjsT-R67);
}
.slotTargetStartcolor_success {
  color: var(--token-41orifDeaaOw);
}
.slotTargetStartcolor_warning {
  color: var(--token-EipVRCsWj6rQ);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-RmfpSvatnCmb);
}
.slotTargetStarttype_soft {
  color: var(--token-_ej5VDHCjaqu);
}
.slotTargetStarttype_bordered {
  color: var(--token-_ej5VDHCjaqu);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-VAozy7q3OVdr);
}
.slotTargetStartsize_small {
  font-size: var(--token-VAozy7q3OVdr);
}
.slotTargetStartsize_large {
  font-size: var(--token-XL7VLparRtF2);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-XL7VLparRtF2);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-4pzrZtbC3iOD);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-4pzrZtbC3iOD);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-N1UtzZ5bzkfF);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-N1UtzZ5bzkfF);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-Pxou_cQSN_AN);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-Pxou_cQSN_AN);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-BEf67REdZsvo);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-BEf67REdZsvo);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-EXtHO5V3GgDj);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-EXtHO5V3GgDj);
}
.svg__gxnpt {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-c8AzcnijxjNH);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-RYjhnKy1kpEh);
}
.slotTargetLabelcolor_muted {
  color: var(--token-E1y5SjsT-R67);
}
.slotTargetLabelcolor_success {
  color: var(--token-41orifDeaaOw);
}
.slotTargetLabelcolor_warning {
  color: var(--token-EipVRCsWj6rQ);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-RmfpSvatnCmb);
}
.slotTargetLabeltype_soft {
  color: var(--token-_ej5VDHCjaqu);
}
.slotTargetLabeltype_bordered {
  color: var(--token-_ej5VDHCjaqu);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-4pzrZtbC3iOD);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-N1UtzZ5bzkfF);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-4pzrZtbC3iOD);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-Pxou_cQSN_AN);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-N1UtzZ5bzkfF);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-BEf67REdZsvo);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-Pxou_cQSN_AN);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-EXtHO5V3GgDj);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-BEf67REdZsvo);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-EXtHO5V3GgDj);
}
.text__tfoSp {
  white-space: pre;
}
.freeBox__ueQ7S {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__ueQ7SgjQio {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-c8AzcnijxjNH);
}
.slotTargetEndcolor_neutral {
  color: var(--token-RYjhnKy1kpEh);
}
.slotTargetEndcolor_muted {
  color: var(--token-E1y5SjsT-R67);
}
.slotTargetEndcolor_success {
  color: var(--token-41orifDeaaOw);
}
.slotTargetEndcolor_warning {
  color: var(--token-EipVRCsWj6rQ);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-RmfpSvatnCmb);
}
.slotTargetEndtype_soft {
  color: var(--token-_ej5VDHCjaqu);
}
.slotTargetEndtype_bordered {
  color: var(--token-_ej5VDHCjaqu);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-VAozy7q3OVdr);
}
.slotTargetEndsize_small {
  font-size: var(--token-VAozy7q3OVdr);
}
.slotTargetEndsize_large {
  font-size: var(--token-XL7VLparRtF2);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-XL7VLparRtF2);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-4pzrZtbC3iOD);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-4pzrZtbC3iOD);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-N1UtzZ5bzkfF);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-N1UtzZ5bzkfF);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-Pxou_cQSN_AN);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-Pxou_cQSN_AN);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-BEf67REdZsvo);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-BEf67REdZsvo);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-EXtHO5V3GgDj);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-EXtHO5V3GgDj);
}
.svg__t8KVn {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
